@mixin home-web(){
  $mg-space:30px auto;
  .recommend-box{
    margin: $mg-space;
    width: $web-default-screen-width;
    &.adv{
      ul{
        @include list($colum:3,$space:5px,$photo-scale:2/3);
        >li{
          @include img-shabox-sytle();
        }
      }
    }
    &.hall{
      ul{
        @include list($colum:3,$space:10px,$photo-scale:2/3,$item-border-w:1px,$padding:1px);
        >li{
          background-color: #fff;
          border: 1px solid $theme-border-color;
          @include img-shabox-sytle();
          .info-box{
            text-align: left;
            padding: 15px 10px 20px;
            .hall-name{font-size: $theme-font-title-size-web;color: #666;line-height: 20px;}
            .hotel-name{
              display: block;
              line-height: 20px;
              color: #666;
              font-size:$theme-font-small-title-size-web;
              float: right;
              &:hover{
                color: $theme-color-one;
              }
            }
          }
        }
      }
    }
    &.case{
      //background-color: #fff;
      $case-w:$web-default-screen-width - 6px;
      $height:540px;
      $img-scale:9/16;
      $small-pdg:20px;
      $small-space:20px;
      $li-border-w:0;
      @include photo-preview-box($small-img-border-w:$li-border-w,$width:$case-w - 2,$height:$height - 2,$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);
      $small-w: get-photo-preview-value($small-img-border-w:$li-border-w,$value-type:$photoPreviewValue-Small-Width,$width:$case-w - 2,$height:($height - 2),$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);
      $small-h: get-photo-preview-value($small-img-border-w:$li-border-w,$value-type:$photoPreviewValue-Small-Height,$width:$case-w - 2,$height:($height - 2),$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);

      width: $case-w;
      height: $height;
      background-color: #f2f2f2;
      border: 1px solid $theme-border-color;

      .small-img-box{
        >li{
          margin:{
            left: auto;
            right: auto;
          };
          //border-radius: 50%;
          overflow: hidden;
          position: relative;
          .photo-box{
            @include size($width:$small-w,$height:$small-h);
            //@include absoluteCenter($width:$small-w,$height:$small-h);
          }
          //border: $li-border-w solid transparent;
          //&.active,&:hover{
          //  border-color: $theme-color-one;
          //}

        }
      }
    }
    &.dress{
      ul{
        @include list($colum:3,$space:10px,$padding:10px,$photo-scale:3/2,$item-border-w:1px);
        >li{
          border: 1px solid #ffaaa7;
          &:hover{
            background-color: #ffaaa7;
          }
        }
      }
    }
  }
}

@mixin home-wap(){

  .flex-fullscreen{
    @include square(100%);
    @include displayFlex();
    @include flexDirectionColumn();
    .menu-box{
      height: auto;
      @include flex(1);
    }
  }
  .menu-box{
    position: relative;
    height: calc( 100% - 66.7vw - #{$wap-log-height});
    ul{
      $space:4px;
      @include clearfix();
      @include square(100%);
      padding: ($space/2);
      >li{
        @include square(50%);
        float: left;
        padding: ($space/2);
        display: table;
        a{
          @include square(100%);
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: #fff;
          font-size: $font-size-h3;
        }
        @each $index, $color in (1, #f8c560),(2, #76c8d0),(3, #67bc94),(4, #f58b99) {
          &:nth-child(#{$index})>a{
            background-color: $color;
          }
        }
      }
    }
  }

}

@mixin home(){
  @if($CssSwitchWeb){
    &#{$webClass}{
      @include home-web();
    }
  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include home-wap();
    }
  }
}
.m-home{
  @include home();
}