@mixin home-web(){
  $mg-space:30px auto;
  .recommend-box{
    margin: $mg-space;
    width: $web-default-screen-width;
    &.virtue{
      ul{
        @include list($colum:4,$space:50px,$margin:5px);
        >li{
          a{cursor: default;}
          .photo-box{
            margin: 10px auto;
            @include square(140px);
            @include transition(0.5s);
            position: relative;
            bottom: 0;
            &:hover{
              bottom: 40px;
            }
          }
          .info-box{
            text-align: center;
            .title{font-size: $theme-font-big-title-size-web;border-bottom: 2px solid #eee;padding: 4px 12px 8px;color: $theme-font-color;}
            .sub-title{
              padding: 12px 0;
              display: block;
              font-size:$theme-font-small-title-size-web;
              color: $theme-font-disable-color;
            }
          }
          &:nth-of-type(1) .photo-box{@include icon-slogan-bg(1);}
          &:nth-of-type(2) .photo-box{@include icon-slogan-bg(2);}
          &:nth-of-type(3) .photo-box{@include icon-slogan-bg(3);}
          &:nth-of-type(4) .photo-box{@include icon-slogan-bg(4);}
        }
      }
    }
    &.adv{
      ul{
        @include list($colum:3,$space:5px,$photo-scale:2/3);
        >li{
          @include img-shabox-sytle();
        }
      }
    }
    &.hall{
      ul{
        @include list($colum:3,$space:10px,$photo-scale:2/3,$item-border-w:1px,$padding:1px);
        >li{
          background-color: #fff;
          border: 1px solid $theme-border-color;
          @include img-shabox-sytle();
          .info-box{
            text-align: left;
            padding: 15px 10px 20px;
            .hall-name{font-size: $theme-font-title-size-web;color: #666;line-height: 20px;}
            .hotel-name{
              display: block;
              line-height: 20px;
              color: #666;
              font-size:$theme-font-small-title-size-web;
              float: right;
              &:hover{
                color: $theme-color-one;
              }
            }
          }
        }
      }
    }
    &.case{
      //background-color: #fff;
      $case-w:$web-default-screen-width - 6px;
      $height:540px;
      $img-scale:9/16;
      $small-pdg:20px;
      $small-space:20px;
      $li-border-w:0;
      @include photo-preview-box($small-img-border-w:$li-border-w,$width:$case-w - 2,$height:$height - 2,$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);
      $small-w: get-photo-preview-value($small-img-border-w:$li-border-w,$value-type:$photoPreviewValue-Small-Width,$width:$case-w - 2,$height:($height - 2),$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);
      $small-h: get-photo-preview-value($small-img-border-w:$li-border-w,$value-type:$photoPreviewValue-Small-Height,$width:$case-w - 2,$height:($height - 2),$img-scale:$img-scale,$small-count:4,$small-pdg:$small-pdg,$small-space:$small-space,$small-direction-row:false);

      width: $case-w;
      height: $height;
      background-color: #f2f2f2;
      border: 1px solid $theme-border-color;
      box-sizing: content-box;
      .small-img-box{
        >li{
          margin:{
            left: auto;
            right: auto;
          };
          //border-radius: 50%;
          overflow: hidden;
          position: relative;
          .photo-box{
            @include size($width:$small-w,$height:$small-h);
            //@include absoluteCenter($width:$small-w,$height:$small-h);
          }
          border: $li-border-w solid transparent;
          &.active,&:hover{
            border-color: $theme-color-one;
          }

        }
      }
    }
    &.dress{
      ul{
        @include list($colum:3,$space:10px,$padding:10px,$photo-scale:3/2,$item-border-w:1px);
        >li{
          border: 1px solid #ffaaa7;
          &:hover{
            background-color: #ffaaa7;
          }
        }
      }
    }
  }
}

@mixin home-wap(){

  .flex-fullscreen{
    @include square(100%);
    @include displayFlex();
    @include flexDirectionColumn();
    .menu-box{
      height: auto;
      @include flex(1);
    }
  }
  .menu-box{
    position: relative;
    //height: calc( 100% - 66.7vw - #{$wap-log-height});
    height: calc( 100vh - 66.7vw - #{$wap-log-height} - #{$wap-mainNav-height});
    ul{
      $space:4px;
      @include clearfix();
      @include square(100%);
      padding: ($space/2);
      >li{
        //$icon-w:( 50 * $rem );
        //$icon-h:( 50 * $rem );
        $icon-w:( 50px);
        $icon-h:( 50px);
        @include square(50%);
        float: left;
        padding: ($space/2);

        a{
          @include square(100%);
          @include displayFlex();
          @include justifyContentCenter();
          @include alignItemsCenter();
          color: #fff;
          font-size: $font-size-h3;
          .icon{
            @include icon-home-menu();
            @include get-vertical-icon-location($iconWidth:$icon-w,$iconHeight:$icon-h,$index:0);
            display: inline-block;
            margin-right: 20px;
          }
        }
        @each $index, $color,$imgIndex in (1, #fed7ac,1),(2, #96e0cf,0),(3, #a3d8e8,2),(4, #f8b9ce,3) {
          &:nth-child(#{$index}){
            >a{
              background-color: $color;
            }
            .icon{@include get-vertical-icon-location($iconWidth:$icon-w,$iconHeight:$icon-h,$index:$imgIndex);}
          }
        }
      }
    }
  }
}

@mixin home(){
  @if($CssSwitchWeb){
    &#{$webClass}{
      @include home-web();
    }
  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include home-wap();
    }
  }
}
.m-home{
  @include home();
}