@mixin hy-hall-web() {
  //宴会厅列表页面
  .hall-list-box {
    $store-list-w: $web-default-screen-width;
    width: $store-list-w;
    margin: 30px auto;
    @include web-sift-box();
    > .item-list {
      $img-scale: 2/3;

      $space:10px;
      @include list($width:$store-list-w,$colum:2,$item-border-w:1px,$padding:1px,$space:$space * 3,$info-size:300px,$photo-scale:$img-scale,$infoDirectionColum:false);

      background-color: #fff;
      padding-top: $space * 3;
      >li {
        @include border();
        .info-box {
          $info-pdg:$space * 2;
          padding: $info-pdg $space * 3;
          >.title{
            font-size: $theme-font-big-title-size-web;
            padding: $space 0;
            display: block;
            border-bottom: 1px dashed $theme-border-color;
            margin-bottom: $space * 1.5;
          }
          .item-box{
            margin-bottom: $space;
            .title{font-size:$theme-font-detail-size-web;color: #999;}
            .value{font-size:$theme-font-detail-size-web;}
            a{
              color: #000;
            }
          }
          .detail-btn{
            display: block;
            cursor: pointer;
            padding: 4px;
            position: absolute;
            bottom: $info-pdg;
            right: $info-pdg;
            font-size: $theme-font-detail-size-web;
            color: #999;
            &:after{content: " >";}
          }
        }
      }
    }
    .u-pagination{
      margin-top: 30px;
    }
  }

  //宴会厅列表详情
  $content-w:1100px;
  $space:10px;


  .hall-info-box{
    $big-w:700px;
    $photoWidth:0;
    $photoHeight:0;
    //background-color: #fff;
    padding: {
      top: $space;
      bottom: $space;
    }
    width: $content-w;
    margin: 20px auto;
    position: relative;
    .hall-photo-box{
      $space:10px;
      @include photo-preview-box($big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      $photoWidth:get-photo-preview-value($value-type:$photoPreviewValue-Width,$big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      $photoHeight:get-photo-preview-value($value-type:$photoPreviewValue-Height,$big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      .small-img-box{
        >li{
          border: 1px solid #e0e0e0;
          &.active,&:hover{
            border-color: $theme-color-one;
          }
          &.last-item{
            position: relative;
            span{
              position: absolute;
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              color: #fff;
              z-index: $zindex-img + 10;
              text-align: center;
              @include inlineMiddle();
              background-color: rgba(#000,0.4);
              font-size: $theme-font-small-title-size-web;
            }
          }
        }
      }
    }
    .info-box{
      width: $content-w - $photoWidth - $space*2;
      height: $photoHeight;
      position: absolute;
      right: $space;
      top: $space;
      padding: $space;
      background-color: #fff;
      text-align: center;
      display: table;
      border: 1px solid $theme-border-color;
      .vertical-middle{
        display: table-cell;
        vertical-align: middle;
      }
      .hall-name{
        text-align: center;
        font-size: $theme-font-big-title-size-web;
        margin-bottom: $space;
        background-color: #fff;
        color: #666;
      }
      .store-btn{
        color: $theme-color-one;
        font-size: 14px;
      }
      .parameter-box{
        //margin: $space*2 auto;
        .parameter-list{
          font-size: 0;
          //padding: $space;
          background-color: #fff;
          position: relative;
          overflow: hidden;
          text-align: center;
          >li{
            font-size: $theme-font-small-value-size-web;
            color: #666;
            border-radius: 4px;
            padding: 8px 12px;
            .value{font-family: $font-family-base;position: relative;}
            .title{color: $theme-font-disable-color;}
            span{
              line-height: 18px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .video-list-box{
    $video-scale:2/3;
    width: $content-w;
    margin: $space auto;

    .item-list{
      $li-h:300px;
      height: $content-w/3;
      position: relative;
      @include icon-hall-video-bg();
      >li{
        width: $li-h/$video-scale;
        height: $li-h;
        position: absolute;
        left: 50%;
        top:50%;
        margin-top: -($li-h/2);
        margin-left: -($li-h/$video-scale/2);
        .photo-box{
          width: 100% !important;
          height:100% !important;
          @include set-video-style();
        }
      }
    }
  }
  .case-list-box{
    width: $content-w;
    margin: $space*3 auto $space;
    //background-color: #fff;
    .item-list{
      @include  list($width:$content-w,$colum:3,$photo-scale:9/16,$space:20px);
      margin-top: $space;
      >li{
        @include case-li-style();
      }
    }
  }

  //模块标题
  .hall-list-box,
  .title-box{
    @include title-style-a($space);
  }
  .sift-box {
    .sift-btn{
      cursor: pointer;
      font-size: $theme-font-small-title-size-web;
      line-height: 18px;
      padding: $space;
      float: right;
      color: $theme-color-one;
    }
  }
}

@mixin hy-hall-wap() {
  //宴会厅列表页面
  //----------------------------------------
  .hall-list-box {
    .sift-box{
      padding: 0 10px;
    }
    > .item-list {
      $space:5px;
      $li-space:10px;
      @include wap-list($padding:1px,$colum:2,$photo-scale:2/3,$margin:$space*2,$space:$li-space,$border-w:1px);
      >li {
        border: 1px solid $theme-border-color;
        @include wap-img-shabox-sytle(0);
        .info-box {
          position: relative;
          padding: $space;
          text-align: center;
          >.title{
            font-size: $theme-font-small-title-size + 2;padding: $space/2 0;display: block;}
          .store-title{
            font-size: $theme-font-small-title-size + 1;
            color: $theme-font-color;
          }
        }
      }
    }
  }
  //----------------------------------------


  //宴会厅详情
  //----------------------------------------
  $mrg-lf:10px;
  $mrg-b:20px;
  $border:10px solid #f5f7f9;
  .hall-info-box{
    .info-box{
      padding: $mrg-lf;
      text-align: left;
      position: relative;
      .hall-name{
        font-size: $theme-font-big-title-size;
        background-color: #fff;
        color: #666;
        text-align: center;
        margin-top: 5px;
      }
      .store-box{
        text-align: center;
        .store-btn{
          font-size: $theme-font-detail-size;
        }
      }
    }
    .parameter-box{
      background-color: #fff;
      border-top: $border;
    }
    .parameter-list{
      font-size: 0;
      li{
        .value{
          line-height: 16px;
          font-size: $theme-font-value-size + 1 ;
          color: $theme-font-color;
          @include order(6);
        }
        .title{ line-height: 16px;
          font-size: $theme-font-value-size + 1 ;
          @include order(3);
          color:$theme-font-detail-color;
        }
        &:nth-child(n + 2){
          border-top: 1px solid $theme-border-color;
        }
        display: block;
        @include displayFlex();
        @include alignItemsCenter();
        padding: 10px 20px 10px 10px;
        position: relative;
        &:after{
          content: " ";
          @include order(4);
          @include flex(1);
        }
      }
    }
  }
  .video-list-box{
    padding: 5px $mrg-lf $mrg-lf;
    border-top: $border;
    .item-list{
      padding-top: 5px;
      li{
        .photo-box{
          @include set-video-style();
        }
      }
    }
  }
  .case-list-box{
    border-top: $border;
    background-color: #fff;
    .sift-box{padding: 0 $mrg-lf 0;}
    .item-list{
      padding-top: 0; 
      @include wap-case-list();
    }
  }
  //----------------------------------------


  //----------------------------------------
  //宴会列表页面:宴会厅列表 和 宴会厅详情页面:案例列表 共用样式
  .sift-box{
    @include wap-sift-box();
  }
  //模块标题
  .title-box{
    @include wap-title-style-a();
  }
  //----------------------------------------
}

@mixin hy-hall() {
  @if ($CssSwitchWeb) {
    &#{$webClass} {
      @include hy-hall-web();
    }
  }

  @if ($CssSwitchWap) {
    &#{$wapClass} {
      @include hy-hall-wap();
    }
  }
}

.m-hy-hall {
  @include hy-hall();
}