@mixin hy-hall-web() {
  //宴会厅列表页面
  .hall-list-box {
    $store-list-w: $web-default-screen-width;
    width: $store-list-w;
    margin: 30px auto;

    @include web-sift-box();
    >.sift-box.table{
      padding-bottom: 10px;
    }
    > .item-list {
      $space:10px;
      $pdg-space: 10px;
      background-color: #fff;
      margin-top: 2*$space;
      //padding: $space;
      >li {
        $li-h: 200px;
        $img-scale: 2/3;

        border: 1px solid $theme-border-color;
        position: relative;
        height: ($li-h + 2);
        margin-bottom: $space *2;
        &:last-child{
          margin-bottom: 0;
        }
        .photo-box {
          height: 100%;
          width: ($li-h / $img-scale);
        }
        .info-box {
          height: 100%;
          width: $store-list-w - ($li-h / $img-scale) - $space*2 - 2;
          position: absolute;
          top: 0;
          right: 0;
          padding: $space;
          >.title{font-size: $theme-font-big-title-size-web;padding: $space 0;display: block;}
          .store-box{
            margin-bottom: $space;
            span{font-size:$theme-font-detail-size-web;}
            .store-name{font-size:$theme-font-detail-size-web;color: #999;margin: $space*2 0;}
          }
          .parameter-list{
            padding-top: $space * 2;
            border-top: 1px dashed $theme-border-color;
            @include clearfix();
            li{
              float: left;
              width: (100%/6);
              span{
                display: block;
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 0 12px;
                font-size: $theme-font-small-value-size-web;
              }
              .title{background-color: #efefef;}
            }
          }
          .detail-btn{

            display: block;
            cursor: pointer;
            padding: 6px 12px;
            position: absolute;
            bottom: $space;
            right: $space;
            font-size: $theme-font-detail-size-web;
            color: #999;
            &:after{content: " >";}
          }
        }
      }
    }

  }

  //宴会厅列表详情
  $content-w:1100px;
  $space:10px;


  .hall-info-box{
    $big-w:600px;
    $photoWidth:0;
    $photoHeight:0;
    //background-color: #fff;
    padding: {
      top: $space;
      bottom: $space;
    }
    width: $content-w;
    margin: 20px auto;
    position: relative;
    .hall-photo-box{
      $space:10px;
      @include photo-preview-box($big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      $photoWidth:get-photo-preview-value($value-type:$photoPreviewValue-Width,$big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      $photoHeight:get-photo-preview-value($value-type:$photoPreviewValue-Height,$big-w:$big-w,$img-scale:2/3,$small-count:4,$space:10px,$small-space:10px,$small-img-pdg:5px,$small-img-border-w:1px,$small-direction-row:false);
      .small-img-box{
        >li{
          border: 1px solid #e0e0e0;
          &.active,&:hover{
            border-color: $theme-color-one;
          }
          &.last-item{
            position: relative;
            span{
              position: absolute;
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              color: #fff;
              text-align: center;
              @include inlineMiddle();
              background-color: rgba(#000,0.4);
              font-size: $theme-font-small-title-size-web;
            }
          }
        }
      }
    }
    .info-box{
      width: $content-w - $photoWidth - $space*2;
      height: $photoHeight;
      position: absolute;
      right: $space;
      top: $space;
      padding: $space;
      background-color: #fff;
      text-align: center;
      display: table;
      .vertical-middle{
        display: table-cell;
        vertical-align: middle;
      }
      .hall-name{
        text-align: center;
        font-size: $theme-font-big-title-size-web;
        margin-bottom: $space;
        background-color: #fff;
        color: #666;
      }
      .store-btn{
        color: $theme-color-one;
      }
      .parameter-box{
        margin: $space*2 auto;
        .parameter-list{
          font-size: 0;
          padding: $space;
          background-color: #fff;
          position: relative;
          overflow: hidden;
          text-align: left;
          @include clearfix();
          &:before{
            content: '';
            width: 0;
            border-left: 1px dashed #ccc;
            height: 300px;
            position: absolute;
            top: 0;
            left: 50%;
          }
          >li{
            float: left;
            width: 50%;
            font-size: $theme-font-small-value-size-web;
            color: #666;
            border-radius: 4px;
            padding: 8px 12px;
            .value{float: right;font-family: $font-family-base;position: relative;top: -1px;}
            .title{color: $theme-font-disable-color;}
          }
        }
      }
    }

  }

  .video-list-box{
    $video-scale:2/3;
    width: $content-w;
    margin: $space auto;

    .item-list{
      $li-h:300px;
      height: $content-w/3;
      position: relative;
      background-color: #ccc;
      >li{
        width: $li-h/$video-scale;
        height: $li-h;
        position: absolute;
        left: 50%;
        top:50%;
        margin-top: -($li-h/2);
        margin-left: -($li-h/$video-scale/2);
        .photo-box{
          width: 100% !important;
          height:100% !important;
          @include set-video-style();
        }
      }
    }
  }
  .case-list-box{
    width: $content-w;
    margin: $space*3 auto $space;
    //background-color: #fff;
    .item-list{
      @include  list($width:$content-w,$colum:3,$photo-scale:9/16,$space:20px);
      margin-top: $space;
      >li{
        @include case-li-style();
      }
    }
  }

  //模块标题
  .hall-list-box,
  .title-box{
    @include title-style-a($space);
  }
  .sift-box {
    .sift-btn{
      cursor: pointer;
      font-size: $theme-font-small-title-size-web;
      line-height: 18px;
      padding: $space;
      float: right;
      color: $theme-color-one;
    }
  }
}

@mixin hy-hall-wap() {
  //宴会厅列表页面
  //----------------------------------------
  .hall-list-box {
    .sift-box{
      padding: 0 10px;
    }
    > .item-list {
      $space:5px;
      $li-space:10px;
      @include wap-list($padding:1px,$colum:2,$photo-scale:2/3,$margin:$space*2,$space:$li-space,$border-w:1px);
      >li {
        border: 1px solid $theme-border-color;
        @include wap-img-shabox-sytle(0);
        .info-box {
          position: relative;
          padding: $space;
          text-align: center;
          >.title{font-size: $theme-font-title-size - 2;padding: $space/2 0;display: block;}
          .store-box{
            display: none;
          }
          .detail-btn{
            display: none;
          }
        }
      }
    }
  }
  //----------------------------------------


  //宴会厅详情
  //----------------------------------------
  $mrg-lf:10px;
  $mrg-b:20px;
  $border-bottom:10px solid #f5f7f9;
  .hall-info-box{
    border-bottom: $border-bottom;
    .info-box{
      padding: $mrg-lf;
      text-align: left;
      position: relative;
      .hall-name{
        font-size: $theme-font-big-title-size;
        background-color: #fff;
        color: #666;
        text-align: center;
        margin-top: 5px;
      }
      .store-box{
        text-align: center;
        .store-btn{
          font-size: $theme-font-detail-size;
        }
      }
    }
    .parameter-box{
      background-color: #fff;
    }
    .parameter-list{
      font-size: 0;
      padding: $mrg-lf*1.5 $mrg-lf;
      border-top: 1px dashed $theme-border-color;
      >li{
        display: inline-block;
        font-size: $theme-font-detail-size;
        color: #666;
        background-color: #f0f0f0;
        border-radius: 4px;
        padding: 3px 6px;
        margin:{
          top: 0.15em;
          bottom: 0.15em;
          right: $mrg-lf;
        }

      }
    }
  }
  .video-list-box{
    padding: 5px $mrg-lf $mrg-lf;
    border-bottom:$border-bottom;
    .item-list{
      padding-top: 5px;
      li{
        .photo-box{
          @include set-video-style();
        }
      }
    }
  }
  .case-list-box{
    background-color: #fff;
    .sift-box{padding: 0 $mrg-lf 0;}
    .item-list{
      @include wap-list($colum:2,$space:10px,$margin:10px,$photo-scale:9/16);
      padding-top: 0;
      >li{
        @include wap-img-shabox-sytle(0);
        .info-box{
          padding: 5px;
          text-align: center;
          .title{font-size: $theme-font-small-title-size;padding: 6px 12px;}
        }
      }
    }
  }
  //----------------------------------------


  //----------------------------------------
  //宴会列表页面:宴会厅列表 和 宴会厅详情页面:案例列表 共用样式
  .sift-box{
    @include wap-sift-box();
  }
  //模块标题
  .title-box{
    @include wap-title-style-a();
  }
  //----------------------------------------
}

@mixin hy-hall() {
  @if ($CssSwitchWeb) {
    &#{$webClass} {
      @include hy-hall-web();
    }
  }

  @if ($CssSwitchWap) {
    &#{$wapClass} {
      @include hy-hall-wap();
    }
  }
}

.m-hy-hall {
  @include hy-hall();
}