

@mixin hy-home-web(){
  $mg-space:30px auto;
  .recommend-box{
    margin: $mg-space;
    width: $web-default-screen-width;
    &.virtue{
      ul{
        @include list($colum:4,$space:50px,$margin:5px);
        >li{
          a{cursor: default;}
          .photo-box{
            margin: 10px auto;
            @include square(140px);
            @include transition(0.5s);
            position: relative;
            bottom: 0;
            &:hover{
              bottom: 40px;
            }
          }
          .info-box{
            text-align: center;
            .title{font-size: $theme-font-big-title-size-web;border-bottom: 2px solid #eee;padding: 4px 12px 8px;color: $theme-font-color;}
            .sub-title{
              padding: 12px 0;
              display: block;
              font-size:$theme-font-small-title-size-web;
              color: $theme-font-disable-color;
            }
          }
        }
      }
    }
    &.hotel{
      ul{
        @include list($colum:5,$space:40px,$margin:10px);
        .photo-box{
          overflow: hidden;
          position: relative;
          margin: 10px auto;
          @include square(160px);
          background-color: $theme-color-one;
          border-radius: 50%;
          text-align: center;
          @include inlineMiddle();
          .name{font-size: 22px;color: #fff; position: relative;z-index: 15;
            top: 5px;}
          &:before{
            content: '';
            position: absolute;
            top:0;left: 0;
            @include square(100%);
            z-index: 10;
            background-color: rgba(#000,0.3);
            border-radius: 50%;
          }
          img{
            position: relative;
            top:0;
            left:0;
          }
        }
        .info-box{
          text-align: center;
          .title{font-size: 14px;padding: 4px 12px;color: $theme-font-color;}
          .sub-title{
            display: block;
            font-size:$theme-font-value-size;
            color: $theme-font-disable-color;
          }
        }
      }
    }
    &.hall{
      $space:10px;
      $adv-width:540px;
      $adv-scale:9/8;
      $hall-scale:2/3;
      $adv-height:(($adv-width - $space * 2 - 2)*$adv-scale + $space * 2 + 2);
      $hall-width:(($web-default-screen-width - $adv-width)/2);
      @include clearfix();

      width: $web-default-screen-width;
      height: $adv-height;

      ul{
        margin: auto;
        height: 100%;
        @include clearfix();
        li{padding: $space;float: left;}
      }
      .adv-item{
        float: left;
        width: $adv-width;
        padding: $space;
        height: 100%;
        border: 1px solid $theme-border-color;
        .photo-box{@include square(100%);}
      }
      .photo-box{
        background-color: #eee;
      }
      .hall-item{
        border: {
          bottom:1px solid $theme-border-color;
          right:1px solid $theme-border-color;
        };
        &:nth-child(-n + 2){
          border-top:1px solid $theme-border-color;
        }
        width: $hall-width;
        height: 50%;
        .photo-box{
          @include square(($hall-width - ($space * 2)));
          width: $hall-width - ($space * 2);
          height: ($hall-width - ($space * 2))*($hall-scale);
        }
        @include img-shabox-sytle();
      }
      .info-box{
        padding: $space*1 $space*0.5;
        position: relative;
        .title{
          display: block;
          font-size: $theme-font-big-title-size-web;
          line-height: 30px;
          margin-bottom: 9px;
        }
        .address,.detail-btn{
          font-size: $theme-font-small-title-size-web;
          color: $theme-font-disable-color;
        }
        .detail-btn{
          cursor: pointer;
          background-color: transparent;
          position: absolute;
          right: $space*0.5;
          bottom: $space*1;
          &:after{
            content: '>';
            padding-left: 4px;
            position: relative;
            top: -1px;
          }
        }
      }

    }
    &.menu{
      position: relative;
      $menu-w:$web-default-screen-width;
      //ul{
      //  $li-w:480px;
      //  $li-h:($li-w*(2/3));
      //  $li-scale:1.5;
      //  position: relative;
      //  height: ($li-h * $li-scale + 20px);
      //  overflow: hidden;
      //  li{
      //    position: absolute;
      //    width: $li-w;
      //    height: $li-h;
      //    top: 50%;
      //    left: 50%;
      //    margin:{
      //      top: -($li-h / 2);
      //      left: -($li-w / 2);
      //      right: 0;
      //    }
      //    z-index: 5;
      //    @include scale(1);
      //    @include transition(0.5s);
      //    //box-shadow: 0 0 2px 2px rgba(#000,0.6);
      //    background-color: #999;
      //    border-radius: 4px;
      //    overflow: hidden;
      //    .shade-box{
      //      position: absolute;
      //      top:0;
      //      left: 0;
      //      @include square(100%);
      //      background-color: #000;
      //      @include opacity(0.6);
      //    }
      //    &.item-prev{
      //      margin-left:-($menu-w / 2) + 20px;
      //      z-index: 9;
      //    }
      //    &.item-next{
      //      margin-left:($menu-w / 2 - $li-w - 20px);
      //      z-index: 8;
      //    }
      //    &.item-current{
      //      @include scale($li-scale);
      //      z-index: 10;
      //      .shade-box{@include opacity(0);}
      //    }
      //
      //
      //  }
      //}
      //.btn-next,
      //.btn-prev{
      //  $btn-size:50px;
      //  position: absolute;
      //  top: 50%;
      //  margin-top: -($btn-size / 2);
      //  @include square($btn-size);
      //  text-align: center;
      //  border-radius: 50%;
      //  background-color: rgba(#fff,0.6);
      //  z-index: 20;
      //  border: 4px solid rgba(#000,0.4);
      //  cursor: pointer;
      //  font-size: 20px;
      //  color: #666;
      //  &:hover{
      //    color: $theme-color-one;
      //    border-color: rgba($theme-color-one,0.7);
      //  }
      //}
      //.btn-prev{
      //  left: 20px;
      //  &:before{
      //    content: '<';
      //  }
      //}
      //.btn-next{
      //  right: 20px;
      //  &:before{
      //    content: '>';
      //  }
      //}

      @include perspective(1200px);
      >ul{
        $item-size:180px;
        &.count-9,&.count-6{
          height: $item-size*2;
          position: relative;
          transform-style: preserve-3d;
          @include transition(transform 1s);
          >li{
            @include transition(transform 1s);
            @include square($item-size);
            @include absoluteCenter($width:$item-size,$height:$item-size);
            z-index: 100;
            .photo-box{ @include scale-loadImage(1.8);}
          }
        }
        &.count-9 >li{
          $item-count:9;
          @for $i from 1 through $item-count {
            &:nth-child(#{$i}){
              $tz:($web-default-screen-width - $item-size*1.5 )/2;
              @include transform(rotateY((360/$item-count)*($i - 1)*1deg) translateZ($tz));
            }
          }
        }
        &.count-6 >li{
          $item-count:6;
          @for $i from 1 through $item-count {
            &:nth-child(#{$i}){
              $tz:($web-default-screen-width - $item-size*1.5 )/2;
              @include transform(rotateY((360/$item-count)*($i - 1)*1deg) translateZ($tz));
            }
          }
        }

        &.count-4{
          @include list($colum:4,$space:30px,$photo-scale:1);
          >li{
            @include img-shabox-sytle(1);
          }
        }
      }
    }

  }
}

@mixin hy-home-wap(){
  .menu-box{
    position: relative;
    height: calc( 100% - 66.7vw - #{$wap-log-height});
    ul{
      $space:8px;
      @include clearfix();
      @include square(100%);
      padding: ($space/2);
      >li{
        @include square(50%);
        float: left;
        padding: ($space/2);
        a{
          @include square(100%);
          display: table;
          border-radius: 8px;
          overflow: hidden;
          background-size: cover;
          background-color: #eee;
          padding: 15%;
          .title{
            font-size: $font-size-h3;
            color: $theme-font-active-color;
            font-weight: bolder;
          }
        }
        .info-box{
          position: relative;
          $info-bg-color:rgba(#fff,0.6);
          $out-space:4px;
          $out-border-width:3px;
          display:table-cell;
          vertical-align: middle;
          text-align: center;
          @include square(100%);
          background-color: $info-bg-color;
          &:before{
            content: "";
            position: absolute;
            @include square(calc(100% + #{$out-space * 2}));
            top:-($out-space + $out-border-width);
            left: -($out-space + $out-border-width);
            border: $out-border-width solid $info-bg-color;
          }
        }

        //@each $index, $color in (1, #f8c560),(2, #76c8d0),(3, #67bc94),(4, #f58b99) {
        //  &:nth-child(#{$index})>a .title{
        //    color: $color;
        //  }
        //}
      }
    }
  }
}

@mixin hy-home(){
  @if($CssSwitchWeb){
    &#{$webClass}{
      @include hy-home-web();
    }
  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include hy-home-wap();
    }
  }
}
.m-hy-home{
  @include hy-home();
}