@mixin hy-menu-web(){
  $space:10px;

  //菜单列表页面
  .menu-list-box {

    $menu-list-w: $web-default-screen-width;
    width: $menu-list-w;
    margin: 30px auto;
    > .item-list {
      $space:15px;
      margin-top: 2*$space;
      margin-bottom: 2*$space;
      @include list($width:$menu-list-w,$colum:3,$space:40px,$info-size:60px,$photo-scale:2/3);
      >li{
        background-color: #fff;
        cursor: pointer;
        .info-box{
          padding: $space;
          position: relative;
          .title{display: block; font-size: $theme-font-big-title-size-web;margin-bottom:$space;}
          .price{
            position: absolute;
            right: $space;
            top: $space - 3;
            line-height: 20px;
            display: block;
            font-size: $theme-font-title-size-web;color: $theme-color-one;
            &:before{
              content: "￥";
              font-size: $theme-font-detail-size-web;
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }
    .u-pagination{
      margin-top: $space * 2;
    }
  }

  //模块标题
  .title-box{
    @include title-style-a();
  }
}

@mixin hy-menu-wap(){
  $space:10px;

  //菜单列表页面
  .menu-list-box {
    $space:10px;
    padding: $space/2;
    > .item-list {
      @include wap-list($colum:2,$space:10px,$info-size:40px,$photo-scale:2/3,$max-width-differ:$space);
      >li{
        background-color: #fff;
        cursor: pointer;
        .info-box{
          padding: $space;
          position: relative;
          .title{
            display: block;
            font-size: $theme-font-title-size;
            margin-bottom:$space/2;
            line-height: 20px;
          }
          .price{
            position: absolute;
            right: $space;
            top: $space - 3;
            line-height: 20px;
            display: block;
            font-size: $theme-font-title-size;color: $theme-color-one;
            &:before{
              content: "￥";
              font-size: $theme-font-detail-size;
              position: relative;
              top: 2px;
            }
          }
          //.describe{
          //  clear: both;
          //  display: block;
          //  font-size: $theme-font-detail-size;
          //  overflow: hidden;
          //  max-height: 60px;
          //  line-height: 15px;}
        }
      }
    }
    .u-pagination{
      margin-top: $space * 2;
    }
  }
  //模块标题
  .title-box{
    @include title-style-a();
  }

}

@mixin hy-menu(){
  @if($CssSwitchWeb){
    &#{$webClass}{
      @include hy-menu-web();
    }
  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include hy-menu-wap();
    }
  }
}

.m-hy-menu{
  @include hy-menu();
}