@mixin hy-menu-web(){
  $space:10px;

  //菜单列表页面
  .menu-list-box {

    $menu-list-w: $web-default-screen-width;
    width: $menu-list-w;
    margin: 30px auto;
    > .item-list {
      $space:5px;
      padding:{
        top:2*$space;
        bottom: 2*$space;
      }
      @include list($padding:1px,$item-border-w:1px,$width:$menu-list-w,$colum:4,$space:40px,$photo-scale:1);
      >li{
        background-color: #fff;
        cursor: pointer;
        border: 1px solid $theme-border-color;
        &:hover{
          border-color: $theme-color-one;
        }
        .info-box{
          text-align: center;
          padding: 15px 0;
          position: relative;
          .title{
            font-size: $theme-font-title-size-web;
          }
          .price{
            line-height: 20px;
            display: block;
            font-size: $theme-font-title-size-web;
            color: $theme-color-one;
            &:before{
              content: "￥";
              font-size: $theme-font-detail-size-web;
              position: relative;
            }
          }
        }
      }
    }
  }

  //模块标题
  .title-box{
    @include title-style-a();
  }
}

@mixin hy-menu-wap(){
  $space:10px;

  //菜单列表页面
  .menu-list-box {
    $space:10px;
    padding: $space/2;
    @include wap-list-title-style();
    > .item-list {
      @include wap-list($padding:1px,$border-w:1px,$colum:2,$space:10px,$photo-scale:1,$max-width-differ:$space);
      >li{
        cursor: pointer;
        border: 1px solid $theme-border-color;
        @include wap-img-shabox-sytle();
        .info-box{
          padding: 8px 0 5px;
          position: relative;
          text-align: center;
          .title{
            font-size: $theme-font-title-size;
            margin-bottom:$space/2;
            line-height: 20px;
          }
          .price{
            line-height: 20px;
            display: block;
            font-size: $theme-font-title-size;color: $theme-color-one;
            &:before{
              content: "￥";
              font-size: $theme-font-detail-size;
              position: relative;
            }
          }
        }
      }
    }
  }
}

@mixin hy-menu(){
  @if($CssSwitchWeb){
    &#{$webClass}{
      @include hy-menu-web();
    }
  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include hy-menu-wap();
    }
  }
}

.m-hy-menu{
  @include hy-menu();
}