@mixin lf-home-web() {
  //礼服列表页面
  $space:10px;
  .dress-list-box {
    $dress-list-w: $web-default-screen-width;
    width: $dress-list-w;
    margin: 30px auto;
    @include title-style-a();
    @include web-sift-box();

    > .item-list {
      $space:10px;
      @include list($width:$dress-list-w,$colum:4,$space:20px,$photo-scale:3/2);
      margin-top: $space*2;
      >li{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @include img-shabox-sytle(0);
        $info-w:100%;
        $info-h:50px;
        .info-box{
          @include transition(0.5s);
          @include size($width:$info-w,$height:$info-h);
          background-color: rgba(#000,0.5);
          position: absolute;
          z-index: $zindex-shabox;
          top:100%;
          left: 0;
          color: #fff;
          display: table;
          .vertical-middle{
            vertical-align: middle;
            text-align: center;
            display: table-cell;
          }
          .title{
            display: block;
            font-size: $theme-font-title-size-web;
          }
          .brand{
            display: block;
            font-size: $theme-font-big-title-size-web;
          }
        }
        &:hover .info-box{
          top:100%;
          margin-top: -($info-h);
        }
      }
    }
  }
  //模块标题
  .title-box{
    @include title-style-a($space);
  }
  .sift-box {
    .sift-btn{
      cursor: pointer;
      font-size: $theme-font-small-title-size-web;
      line-height: 18px;
      padding: $space;
      float: right;
      color: $theme-color-one;
    }
  }
}

@mixin lf-home-wap() {
  //礼服列表页面
  //----------------------------------------
  .dress-list-box {
    > .item-list {
      $space:5px;
      $li-space:10px;
      @include wap-list($colum:2,$photo-scale:3/2,$margin:$space,$space:$li-space,$border-w:1px);
      >li {
        border: 1px solid $theme-border-color;
        @include wap-img-shabox-sytle();
        .info-box {
          position: relative;
          padding: $space;
          text-align: center;
          .title{font-size: $theme-font-title-size;padding: $space/2 0;display: block;}
          .brand{ font-size: $theme-font-title-size;padding: $space/2 0;display: block;}

        }
      }
    }
  }

  //----------------------------------------
  .sift-box {
    @include wap-sift-box();
  }
  //模块标题
  .title-box{
    @include wap-title-style-a(10px);
  }
  //----------------------------------------
}

@mixin lf-home() {
  @if ($CssSwitchWeb) {
    &#{$webClass} {
      @include lf-home-web();
    }
  }

  @if ($CssSwitchWap) {
    &#{$wapClass} {
      @include lf-home-wap();
    }
  }
}

.m-lf-home {
  @include lf-home();
}