
@mixin itemInfoDirection-row($item-w,$padding:0,$photo-scale:0,$info-w:0,$item-h:0,$item-border-w:0){

  @if($item-h > 0){
    height: $item-h;
  }
  @include clearfix();

  .photo-box,.info-box{float: left;}

  @if($photo-scale > 0 ){
    $photo-w:0;
    $photo-h:0;
    @if ($info-w > 0 ){
      $photo-w:$item-w - $info-w - $padding * 2 - $item-border-w * 2;
      $photo-h:$photo-w * $photo-scale;
      .photo-box{
        width: $photo-w;
        height: $photo-h;
      }
      @if($info-w > 0 ){
        .info-box{
          width: $info-w;
          height: $photo-h;
        }
      }
    }@else if($item-h>0){
      $photo-h:$item-h - $padding * 2 - $item-border-w * 2;
      $photo-w:$photo-h / $photo-scale;
      .photo-box{
        width: $photo-w;
        height: $photo-h;
      }
      .info-box{
        width: ($item-w - ($item-h / $photo-scale) - $padding * 2);
        height: $photo-h;
      }
    }
  }
}
@mixin itemInfoDirection-colum($item-w,$padding:0,$photo-scale:0,$info-h:0,$item-h:0,$item-border-w:0){

  @if($item-h > 0){
    height: $item-h;
  }

  @if($photo-scale > 0 ){
    $photo-w:$item-w - $padding * 2 - $item-border-w * 2;
    $photo-h:$photo-w * $photo-scale;
    .photo-box{
      width: $photo-w;
      height: $photo-h;
    }
  }
  @if($info-h > 0 ){
    .info-box{
      height: $info-h;
    }
  }
}


//列表
@mixin list(
  $width:$web-default-screen-width,
  $colum:2,
  $space:0,
  $padding:0,
  $margin:0,
  $photo-scale:0,
  $info-size:0,
  $item-h:0,
  $item-border-w:0,
  $infoDirectionColum:true
){
  @include clearfix();
  width: $width;
  margin: 0 auto;
  @if ($margin >0){
    padding: $margin;
  }
  $item-w:(($width - ($margin * 2) - ($colum * $space - $space))/$colum);
  >li{
    float: left;
    @if($space > 0){
      margin-left: $space;
      &:nth-of-type(#{$colum}n + 1){
        margin-left: 0;
      }
      &:nth-of-type(n + #{$colum + 1}){
        margin-top: $space;
      }
    }
    @if($padding){
      padding: $padding;
    }
    width: $item-w;
    @if($infoDirectionColum){
      @include itemInfoDirection-colum(
        $item-w:$item-w,
        $padding:$padding,
        $photo-scale:$photo-scale,
        $info-h:$info-size,
        $item-h:$item-h,
        $item-border-w:$item-border-w
      );
    }@else{
      @include itemInfoDirection-row(
        $item-w:$item-w,
        $padding:$padding,
        $photo-scale:$photo-scale,
        $info-w:$info-size,
        $item-h:$item-h,
        $item-border-w:$item-border-w
      );
    }



  }
}

@mixin inlineMiddle(){
  &:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}


@mixin wap-list(
  $max-width-differ:0,
  $colum:2,
  $space:0,
  $padding:0,
  $margin:0,
  $photo-scale:0,
  $info-size:0,
  $item-h:0,
  $border-w:0,
  $infoDirectionColum:true){
  //@include clearfix();
  @include displayFlex();
  @include flexWrapWrap();
  @include justifyContentFlexStart();
  @include alignItemsFlexStart();
  @if ($margin >0){
    padding: $margin;
  }
  >li{
    //float: left;
    @if($space > 0){
      @if($colum > 1){
        margin-left: $space;
        &:nth-of-type(#{$colum}n + 1){
          margin-left: 0;
        }
      }
      &:nth-of-type(n + #{$colum + 1}){
        margin-top: $space;
      }
      @if($colum == 1){
        width: 100%;
      }@else{
        width: calc( (100% /#{$colum}) - #{$space*($colum - 1)/$colum});
      }
    }@else {
      width: (100% /$colum);
    }
    @if($padding > 0){
      padding: $padding;
    }
    .photo-box {
      $value:($space * ($colum - 1)/$colum + $padding*2 + $border-w * 2);
      @if($value == 0){
        height: calc( ((100vw - #{$max-width-differ + $margin * 2}) / #{$colum})*#{$photo-scale});
      }@else {
        height: calc( ((100vw - #{$max-width-differ + $margin * 2}) / #{$colum} - #{$value} )*#{$photo-scale});
      }
    }
    @if($info-size>0){
      .info-box{
        height: $info-size;
      }
    }
  }

}


@mixin photo-preview-box(
  $width:0,     //组件宽度
  $height:0,    //组件高度
  $padding:0,   //组件内间距
  $img-scale:2/3,//图片斜率
  $space:0,     //组件内大图与缩略图间距
  $big-w:0,     //大图宽度
  $big-h:0,     //大图高度
  $small-w:0,   //小图宽度
  $small-h:0,   //大图高度
  $small-count:3,//小图个数
  $small-pdg:0,   //小图组件内间距
  $small-img-pdg:0,   //小图内间距
  $small-space:0, //小图之间间距
  $small-img-border-w:0,//小图边线宽度
  $big-class:'big-img-box', //大图组件class
  $small-class:'small-img-box', //小图组件class
  $small-direction-row: true  //小图排列方式 true横向排列 false纵向排列
){
  @if($padding>0){
    padding: $padding;
  }



  @if($small-direction-row){
    @if($width<($big-w +$padding*2)){$width:($big-w +$padding*2);}
    @if($big-w <= 0){ $big-w:$width - $padding*2;}
    $big-h:$big-w*$img-scale;
    $small-w:($width - $padding*2 - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
    $small-h:($small-w - $small-img-pdg*2 - $small-img-border-w*2) *$img-scale + $small-img-pdg*2 +$small-img-border-w*2;
    $height:$padding*2 + $big-h + $space + $small-pdg*2 + $small-h;

    @include size($width:$width,$height:$height);
    position: relative;
    @if($space>0){
      >*:nth-child(1){
        margin-bottom: $space;
      }
    }
    .#{$big-class}{
      @include size($width:$big-w,$height:$big-h);
      cursor: pointer;
    }
    .#{$small-class}{
      overflow: hidden;
      width: $big-w;
      @if($small-pdg>0){
        padding: $small-pdg;
      }
      >li{
        float: left;
        cursor: pointer;background-color: #eee;
        @include size($width:$small-w,$height:$small-h);
        @if($small-img-pdg>0){
          padding: $small-img-pdg;
        }
        @if($small-space>0){
          &:nth-child(n+2){margin-left:$small-space;}
        }
      }
    }
  }@else {
    @if($big-w>0){
      $big-h:$big-w*$img-scale;
      $small-h:($big-h - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
      $small-w:($small-h - $small-img-pdg*2 - $small-img-border-w*2)/$img-scale + $small-img-pdg*2 + $small-img-border-w*2;
      $width:$padding*2 + $big-w + $space + $small-pdg*2 + $small-w;
      $height:$big-h+$padding*2;
    }@else if($width > 0 and $height > 0){
      $big-h:$height - $padding*2;
      $big-w:$big-h/$img-scale;
      $small-h:($big-h - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
      $small-w:($small-h - $small-img-pdg*2 - $small-img-border-w*2)/$img-scale + $small-img-pdg*2 + $small-img-border-w*2;
      $space:$width - $big-w - $padding*2 - $small-w - $small-pdg*2;
    }

    @if($space>0){
      >*:nth-child(1){
        margin-right: $space;
      }
    }
    @include size($width:$width,$height:$height);
    position: relative;

    @include clearfix();
    .#{$big-class}{
      @include size($width:$big-w,$height:$big-h);
      float: left;
      cursor: pointer;
    }
    .#{$small-class}{
      overflow: hidden;
      float: left;
      @if($small-pdg>0){
        padding: $small-pdg;
      }
      @include clearfix();
      >li{
        cursor: pointer;
        @if($small-img-pdg>0){
          padding: $small-img-pdg;
        }
        @include size($width:$small-w,$height:$small-h);
        @if($small-space>0){
          &:nth-child(n+2){margin-top:$small-space;}
        }
      }
    }
  }


}

$photoPreviewValue-Width:0 !default;
$photoPreviewValue-Height:1 !default;
$photoPreviewValue-Small-Width:2 !default;
$photoPreviewValue-Small-Height:3 !default;

@function get-photo-preview-value(
  $value-type:0,  //获取值类型
  $width:0,     //组件宽度
  $height:0,    //组件高度
  $padding:0,   //组件内间距
  $img-scale:2/3,//图片斜率
  $space:0,     //组件内大图与缩略图间距
  $big-w:0,     //大图宽度
  $big-h:0,     //大图高度
  $small-w:0,   //小图宽度
  $small-h:0,   //大图高度
  $small-count:3,//小图个数
  $small-pdg:0,   //小图组件内间距
  $small-img-pdg:0,   //小图内间距
  $small-space:0, //小图之间间距
  $small-img-border-w:0,//小图边线宽度
  $big-class:'big-img-box', //大图组件class
  $small-class:'small-img-box', //小图组件class
  $small-direction-row: true  //小图排列方式 true横向排列 false纵向排列
  )
{

  @if($small-direction-row){
    @if($width<($big-w +$padding*2)){$width:($big-w +$padding*2);}
    @if($big-w <= 0){ $big-w:$width - $padding*2;}
    $big-h:$big-w*$img-scale;
    $small-w:($width - $padding*2 - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
    $small-h:($small-w - $small-img-pdg*2 - $small-img-border-w*2) *$img-scale + $small-img-pdg*2 +$small-img-border-w*2;
    $height:$padding*2 + $big-h + $space + $small-pdg*2 + $small-h;

  }@else {
    @if($big-w>0){
      $big-h:$big-w*$img-scale;
      $small-h:($big-h - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
      $small-w:($small-h - $small-img-pdg*2 - $small-img-border-w*2)/$img-scale + $small-img-pdg*2 + $small-img-border-w*2;
      $width:$padding*2 + $big-w + $space + $small-pdg*2 + $small-w;
      $height:$big-h+$padding*2;
    }@else if($width > 0 and $height > 0){
      $big-h:$height - $padding*2;
      $big-w:$big-h/$img-scale;
      $small-h:($big-h - $small-pdg*2 - $small-space*($small-count - 1))/$small-count;
      $small-w:($small-h - $small-img-pdg*2 - $small-img-border-w*2)/$img-scale + $small-img-pdg*2 + $small-img-border-w*2;
      $space:$width - $big-w - $padding*2 - $small-w - $small-pdg*2;
    }
  }
  @if($value-type == $photoPreviewValue-Width){
    @return $width;
  }@else if($value-type == $photoPreviewValue-Height){
    @return $height;
  }@else if($value-type == $photoPreviewValue-Small-Width){
    @return $small-w;
  }@else if($value-type == $photoPreviewValue-Small-Height){
    @return $small-h;
  }@else{
    @return  -1;
  }
}

//绝对定位垂直水平居中
@mixin absoluteCenter($width,$height){
  position: absolute;
  top:50%;
  left:50%;
  margin: {
    top:-($height/2);
    left: -($width/2);
    right: 0;
    bottom: 0;
  };
}

//$style-type 遮罩类型
// 0号样式 默认样式 照片缩放 无背景
// 1号样式 照片缩放 无信息 浮动在照片上 黑色透明背景
// 2号样式 婚纱列表 info-box 浮动在照片上 白色透明背景显示信息
//
@mixin img-shabox-sytle($style-type:0,$isWeb:true){
  $hov:'hover';
  $time:0.5s;
  @if($isWeb == false){
    $hov:'active';
    $time:0.3s;
  }
  &:#{$hov}{
    .photo-box{
      overflow: hidden;
      position: relative;
      @if($isWeb == true){
        img{
          @include scale(1.1);
        }
      }
    }
    @if($style-type == 1){
      .photo-box:after{
        content: "";
        display: block;
        position: absolute;
        top:0;left: 0;right: 0;bottom: 0;
        z-index: $zindex-shabox;
        background-color: rgba(#000,0.5);
      }
    }@else if($style-type == 2){
      .info-box{
        background-color: rgba(#fff,0.8);
        z-index: $zindex-shabox;
        visibility: visible;
      }
    }
  }
  .photo-box{
    overflow: hidden;
    img{
      @include transition($time);
    }
  }
}
@mixin wap-img-shabox-sytle($style-type:0){
  @include img-shabox-sytle($style-type,$isWeb:false);
}

//列表与详情标题样式A
@mixin title-style-a($padding:10px){
  >.title{
    padding: $padding;
    font-size: $theme-font-title-size-web;
    line-height: 18px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    &:before{
      content: '';
      display: inline-block;
      background-color: $theme-color-one;
      position: absolute;
      left: 0;
      width: 3px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
    }
  }
}

//标题字体样式A
@mixin wap-title-style-a($padding:5px){
  //padding:0 $mrg-lf;
  >.title{
    padding: $padding 0;
    font-size: $theme-font-title-size;
    display: inline-block;
  }
}

//列表标题样式
@mixin wap-list-title-style($padding:5px){
  .title-box{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 10px;
    @include wap-title-style-a($padding);
  }
}

//web筛选样式
@mixin web-sift-box(){

  >.sift-box {
    font-size: 0;
    background-color: #fff;
    &:nth-of-type(2){
      margin-top: 10px;
    }
    //&:nth-last-of-type(1){
    //  margin-bottom: 10px;
    //}

    >.sift-title{
      font-size: $theme-font-small-value-size-web;
      display: inline-block;
      color: #999;
    }
    .sift-list {
      display: inline-block;
      > li {
        display: inline-block;
        padding: 0 8px;
        font-size: $theme-font-small-value-size-web;
        color: #666;
        height: 24px;
        line-height: 24px;
        font-weight: 400;
        border-radius: 4px;
        cursor: pointer;
        margin: {
          top: 4px;
          left: 10px;
        }
        &.active {
          color: $theme-font-active-color;
        }
        &.custom-condition{
          cursor: default;
          padding: 0;
          padding-left:100px;
          input,
          button,
          span{
            height: 24px;
            line-height: 24px;
          }
          .input-box{
            display: inline-block;
            >input{
              border: 1px solid $theme-border-color;
              color: #666;
              width: 60px;
              padding: 0 4px;
              vertical-align: middle;
              font-family: $font-family-sans-serif;
              margin:0 10px;
            }
          }
          .btn-confirm{
            padding: 0 10px;
            background-color: $theme-color-one;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }


  }
}
@mixin wap-sift-box(){
  background-color: #fff;
  @include wap-list-title-style();

  >.title-box{
    @include displayFlex();
    @include justifyContentSpaceBetween();
    @include alignItemsCenter();
    padding:0 5px;
    margin-bottom: 0;
    font-size: $theme-font-title-size;
    .sift-btn{
      padding: 5px;
      &.active{
        color: $theme-color-one;
      }
    }
    overflow: hidden;
  }
  .sift-condition {

    font-size: 0;
    padding: 0 5px;
    > li {
      display: inline-block;
      padding: 2px 4px;
      font-size: $theme-font-small-value-size;
      border: 1px solid rgba($theme-color-one,0.7);
      color: $theme-color-one;
      border-radius: 4px;
      cursor: pointer;
      margin: {
        top:4px;
        bottom: 4px;
        right: 8px;
      };
      &.active {
        color: #fff;
        background-color: $theme-color-one;
      }
    }
  }
}

//video样式 强制设置video大小
@mixin set-video-style(){
  background-color: #000;
  *{height: 100% !important;width: 100% !important;}
  video{height: 100% !important;width: 100% !important;}
}

@mixin scale-loadImage($scale:1.0){
  @include square(100% * $scale);
  position: absolute;
  top:-(100% * ($scale - 1)/2);
  left:-(100% * ($scale - 1)/2);
  @include scale(1 / ($scale));
}
//li之间无间距情况下 设置li的边线
@mixin list-li-border($colum:2,$border:1px solid $theme-border-color){
  border: {right: $border;bottom: $border;};
  &:nth-child(-n + #{$colum}){border-top: $border;}
  &:nth-child(#{$colum}n + 1) {border-left: $border;}
}

//解决缩小后border-width变大引起的错位
@mixin border($width:1px,$color:$theme-border-color,$type:solid){
  position: relative;
  >*{
    position: relative;
    z-index: 1;
  }
  &:before{
    content: "";
    position: absolute;
    display: block;
    @include square(100%);
    top:-$width;
    left: -$width;
    z-index: 0;
    border: $width $type $theme-border-color;
    pointer-events:none;
  }
}