

@mixin icon-submenu-bg(){
  background-image: url("../images/icon-submenu-bg.png");
  background-size: cover;
}
@mixin icon-submenu-btn-bg(){
  background-image: url("../images/icon-submenu-btn-bg.png");
  background-size: cover;
}
@mixin icon-submenu-bg-left(){
  background-image: url("../images/icon-submenu-bg-left.png");
  background-size: cover;
}
@mixin icon-submenu-bg-right(){
  background-image: url("../images/icon-submenu-bg-right.png");
  background-size: cover;
}
@mixin icon-logo(){
  background: url("../images/bf-logo.png") center center no-repeat;
  background-size: contain;
}

@mixin icon-hall-video-bg(){
  background: url("../images/hall-video-bg.jpg") center center no-repeat;
  background-size: cover;
}

@mixin icon-home-menu(){
  background-image: url("../images/home-menu.png");
}
@mixin icon-main-nav(){
  background-image: url("../images/main-nav.png");
}
@mixin icon-main-nav-active(){
  background-image: url("../images/main-nav-active.png");
}
@mixin icon-f4-detail-bg(){
  background-image: url("../images/f4-detail-bg.jpg");
  background-size: cover;
}
@mixin icon-slogan-bg($index:1) {
  background: url("../images/icon-slogan-#{$index}.png") center center no-repeat;
  background-size: cover;
}
@mixin iconSetupSize($iconWidth,$iconHeight,$count){
  width:$iconWidth;
  height: $iconHeight;
  background-size: ($iconWidth * $count);
  display: block;
  background-repeat: no-repeat;
}
///根据图片大小自动选择图片  竖排列
@mixin get-vertical-icon-location($iconWidth,$iconHeight,$index:0,$count:1,$setupSize:0){
  @if($index == 0){
    @include iconSetupSize($iconWidth,$iconHeight,$count);
  }
  @if($index > 0 ){
    background-position: 0 #{-($iconWidth * $index)};
  }
}
///根据图片大小自动选择图片  横排列
@mixin get-horizontal-icon-location($iconWidth,$iconHeight,$index:0,$count:1,$setupSize:0){
  @if($index == 0){
    @include iconSetupSize($iconWidth,$iconHeight,$count:$count);
  }@else if($index > 0 ){
    background-position:#{-($iconHeight * $index)} 0;
  }
}

 