//布局样式
.root{
  background-color: #f4f4f4;
  .f-main{

  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      @include square(100%);
      .f-main{
        @include square(100%);
        padding-bottom: $wap-mainNav-height;
        >.u-nav{
          background-color: #f0f0f0;
          height: ($wap-mainNav-height - 1);
          border-top:1px solid #ddd;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
        }
        >.m-view{
          @include square(100%);
        }
      }
    }

    .f-scrollview{
      @include square(100%);
      overflow: auto;-webkit-overflow-scrolling : touch;
    }
  }
  @if($CssSwitchWeb){
    max-width: $web-max-screen-width;
    margin: auto;
    &#{$webClass}{

    }
    .f-footer{
      background-color: #666;
      padding: 20px;
      .contact-way-box{
        width: 1200px;
        margin:auto;
        @include clearfix();
      }
      .info-box{
        float: left;
        margin-left: 30px;
        span{
          color: #fff;
          font-size: ($theme-font-title-size + 1);
          line-height: 30px;
          display: block;
          padding: 4px 30px;
        }
        .tel{
          color: #e27912;
          font-size: 24px;
        }
        .address{}
        .website{}
      }
      .wx-tel{
        float: right;
        padding: 10px;
        .qr-code{
          margin: auto;
          @include square(100px);
        }
        .title{
          padding: 4px;
          color: #e27912;
          font-size: ($theme-font-title-size + 1);
        }
      }
      .licence-box{
          text-align: center;
          p{
            color: #fff;
            font-size: 12px;
          }
      }
    }
  }

}

//菜单
.u-nav{
  background-color: #fff;
  @if($CssSwitchWap){
    &#{$wapClass}{
      .nav-box{
        @include square(100%);
      }
      .tel-box{display: none;}
      .logo-box{display: none;}
      ul{
        display: table;
        @include square(100%);
        >li{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          a{
            font-size: $font-size-h4;
            .title{color: $mainNav-font-color;}
            .sub-title{display: none;}
          }
          &.active,>a:active>a:hover{
            .title{color: $mainNav-font-active-color;}
          }
        }
      }
    }
  }
  @if($CssSwitchWeb){
    &#{$webClass}{
      position: relative;
      border-bottom: 1px solid $theme-color-one;
      $nav-width:1200px;
      .nav-box{
        margin: 0 auto;
        width: 900px;
        padding: 25px 0;
        height: $web-mainNav-height;
        li{
          display: inline-block;
          padding:{
            right: 20px;
            left: 20px;
          }
          border-right: 1px solid $theme-font-color;
          a{
            min-width: 80px;
            display:block;
            span{
              color: $mainNav-font-color;
              display: block;
            }
            .title{ font-size: $theme-font-big-title-size;}
            .sub-title{ font-size: $theme-font-value-size;}
          }
          &.active,>a:hover{
            span{
              color: $mainNav-font-active-color;
            }
          }
        }
      }
      .tel-box{
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: -($nav-width / 2);
        height: $web-mainNav-height;
        display: table;
        .tel-info{
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          label,span{display: block;}
          label{
            font-size:$theme-font-title-size;
            color: $mainNav-font-color;
          }
          span{
            font-size: 24px;
            color: $theme-color-one;
          }
        }
      }
      .logo-box{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -($nav-width / 2);
        height: $web-mainNav-height;
        display: table;
        .logo-icon{
          font-size: 0;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          &:before{
            content: 'Bafei';
            display: block;
            font-size: 28px;
            line-height: 30px;
            color: $theme-color-one;
            font-weight: bolder;
            font-family: serif;
          }
          &:after{
            content: '芭菲婚礼';
            display: block;
            font-size: 24px;
            color: $theme-color-one;
          }
        }
      }
    }
  }
}
//wap 芭菲logo
@if($CssSwitchWap){
  .u-logo-box{
    background-color: #fff;
    width: 100%;
    height: $wap-log-height;
    overflow: hidden;
    margin: 0;
    .logo-icon{
      font-size: 0;
      @include  displayFlex();
      @include justifyContentCenter();
      @include alignItemsCenter();
      @include flexDirectionColumn();
      &:before{
        content: 'Bafei';
        display: block;
        font-size: 28px;
        line-height: 30px;
        color: #bb7f45;
        font-weight: bolder;
        font-family: serif;
      }
      &:after{
        content: '芭菲婚礼';
        display: block;
        font-size: 10px;
        color: #999;
      }
    }
  }
}


//web轮播与菜单
@if($CssSwitchWeb){
  .u-carousel-and-nav{

    position: relative;
    width: 100%;

    .u-carousel{
      width: $web-max-screen-width ;
      left: 50% !important;
      margin-left: -($web-max-screen-width / 2) !important;
    }

    .nav-box{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000,0.3);
      >ul{
        padding: 10px;
        text-align: center;
        >li{
          display: inline-block;
          padding: 0 30px;
          a{
            .title{
              font-size: $theme-font-title-size;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
