//布局样式
.root{
  .f-main{

  }
  @if($CssSwitchWap){
    &#{$wapClass}{
      //@include square(100%);
      .f-main{
        //@include square(100%);
        padding-bottom: $wap-mainNav-height;
        >.u-nav{
          background-color: #f0f0f0;
          height: ($wap-mainNav-height - 1);
          border-top:1px solid #ddd;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
        }
        >.m-view{
          //@include square(100%);
        }
      }
      .f-scrollview{
        //@include square(100%);
        //overflow: auto;-webkit-overflow-scrolling : touch;
      }
    }
  }
  @if($CssSwitchWeb){
    max-width: $web-max-screen-width;
    margin: auto;
    &#{$webClass}{

    }
    .f-footer{
      background-color: #fff;
      padding-top: 60px;
      padding-bottom: 30px;
      .contact-way-box{
        width: 1200px;
        margin:auto;
        margin-bottom: 20px;
        text-align: center;
      }
      .tel-box{
        display: inline-block;
        padding: 0 14px;
        &:nth-child(1){border-right: 1px solid #999;}
        span{
          color: #999;
          font-size: ($theme-font-title-size + 1);
          line-height: 20px;
          padding: 0 4px;
        }
        .tel{
          font-size: 18px;
        }
        .name{}
      }
      .licence-box{
        text-align: center;
        margin:auto;
        p{
          margin-top: 10px;
          color: #999;
          font-size: 12px;
          padding: 0 10px;
        }
      }
    }
  }
}


//wap 芭菲logo
@if($CssSwitchWap){
  .u-logo-box{
    background-color: #fff;
    width: 100%;
    height: $wap-log-height;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    .logo-icon{
      @include icon-logo();
      @include square(100%);

    }
  }
}

//模块首页标题
.home-title-box{
  width: $web-default-screen-width;
  margin: 40px auto;
  text-align: center;
  position: relative;
  @include clearfix();
  h1{
    color: #444;
    font-size: 28px;
    font-weight: normal;
  }
  i{
    $line-w:15px;
    $line-space:50px;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    color: $theme-font-disable-color;
    display: inline-block;
    word-spacing: 10px;
    letter-spacing: 2px;
    padding: 0 ($line-w + $line-space);
    margin-top: 3px;
    position: relative;
    border: {
      left: 1px solid $theme-font-disable-color;
      right: 1px solid $theme-font-disable-color;
    };
    &:before,&:after{
      content: " ";
      display: block;
      position: absolute;
      top:50%;
      width: $line-w;
      height: 1px;
      background-color: $theme-font-disable-color;
    }
    &:after{
      right: 0;
    }
    &:before{
      left: 0;
    }
  }
  span{
    font-size: 14px;
    display: block;
    color: $theme-font-disable-color;
    position: relative;
    padding: 3px 0 6px;
    line-height: 20px;
    &:before{
      $line-width:50px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -($line-width / 2);
      width: $line-width;
      height: 2px;
      background-color: $theme-font-disable-color;
      z-index: 10;
    }
  }
  .more-btn{
    cursor: pointer;
    position: absolute;
    font-size: $theme-font-small-title-size-web;
    padding: 6px 12px;
    //color: #555;
    bottom:-30px;
    right: 0;
    color: $theme-color-one;
    //&:hover{
    //  color: $theme-color-one;
    //}
    &:after{
      content: ">>";
    }
  }
}
//模块首页分割线
.home-space-line{
  background-color: #eee;
  height: 1px;
  width: $web-default-screen-width;
  margin: 5px auto;
  position: relative;
  &:before{
    content: "";
    display: block;
    $size:18px;
    @include square($size);
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -($size / 2);
    margin-top:  -($size / 2);
    z-index: 10;
  }
  &:after{
    $size:6px;
    content: "";
    display: block;
    border: $size solid transparent;
    border-bottom-width: 0;
    border-top-color: #fff;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -($size );
    margin-top:  -($size / 2);
  }
}

.photo-box{
  font-size: 0;
  .img-box{
    overflow: hidden;
    @include square(100%);
  }
}
.img-box{
  position: relative;
  .u-load{
    z-index: $zindex-img-load;
  }
  img{
    position: relative;
    z-index: $zindex-img;
  }
}

//加载更多
@if($CssSwitchWap){
  .u-more-box{
    clear: both;
    text-align: center;
    padding: 5px 0;
    .more-btn{
      display: inline-block;
      padding: 0 16px;
      line-height: 30px;
      border: 1px solid $theme-border-color;
      cursor: pointer;
      border-radius: 3px;
      color: #666;
      >*{
        vertical-align: middle;
      }
      &:active{
        color: #fff;
        background-color: $theme-color-one;
      }
      .u-load{
        vertical-align: middle;
        position: relative;
        display: inline-block;
        font-size: 8px;
      }
    }
  }
}
//分页组件
@if($CssSwitchWeb){
  .u-pagination{
    margin-top: 60px;
    >.pagination-box{
      padding: 10px;
      text-align: center;
      font-size: 0;
      .page-number>li,
      .btn-prev,
      .btn-next{
        cursor: pointer;
        display: inline-block;
        border: 1px solid $theme-border-color;
        margin-right: 15px;
        line-height: 30px;
        min-width: 30px;
        padding: 0 8px;
        //border-radius: 4px;
        font-family: $font-family-sans-serif;
        font-size: $theme-font-small-title-size-web + 2;
      }
      .btn-prev,
      .btn-next{
        color: #999;
        &:hover{
          color: $theme-color-one;
        }
        &.disable{
          cursor: not-allowed;
          color:$theme-font-disable-color;
        }
      }
      .page-number {
        display: inline-block;
        >li{
          color: $theme-color-one;

          &:hover,&.active{
            background-color: $theme-color-one;
            color: #fff;
            border-color:transparent;
          }
          &.active{
            cursor: default;
          }
          &.omit{
            cursor: default;
            background-color: transparent;
            color: $theme-color-one;
            padding:{
              left: 0;
              right: 0;
            }
            border-style: none;
          }
        }
      }

    }
    &{
      >.pagination-box{
        .page-number>li,
        .btn-prev,
        .btn-next{
          line-height: 38px;
          height: 40px;
          min-width: 40px;
          padding: 0;
          border-radius: 50%;
        }
      }
    }
  }
}

//弹出筛选框
@if($CssSwitchWap){
  .u-sift-popup-box{
    //弹出布局样式
    &{
      position: fixed;
      left:0;
      top: 0;
      z-index: $zindex-popover;
      visibility: hidden;
      @include square(100%);
      @include transition(0.5s);
      >.close-btn{
        position: absolute;
        z-index: 1;
        background-color: rgba(#000,0);
        top: 0;
        left: 0;
        @include square(100%);
        @include transition(0.5s);
      }
      >.sift-popup-box{
        @include transition(0.5s);
        position: absolute;
        z-index: 10;
        bottom:-100%;
        left:0;
        width: 100%;
      }
      &.open{
        visibility: visible;
        >.close-btn{
          background-color: rgba(#000,0.5);
        }
        >.sift-popup-box{
          bottom:0;
        }
      }
    }
    //------------------------------
    //筛选样式设置
    >.sift-popup-box{
      background-color: #fff;
      .btn-box{
        width: 100%;
        height: 40px;
        @include displayFlex();
        border-top: 1px solid $theme-border-color;
        button{
          @include flex(1);
          color: #666;
          font-size: $theme-font-title-size;
          &.btn-confirm{
            background-color: $theme-color-one;
            color: #fff;
          }
        }
      }
      .sift-condition-box{
        padding: 0 5px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      .sift-box{
        &:nth-of-type(n + 2){
          border-top: 1px solid $theme-border-color;
        }
        padding: 5px 0;
        .sift-title{
          display: block;
          font-size: $theme-font-small-title-size;
          color: #666;
          padding: 4px 4px 4px 0;
        }
        .sift-list{
          @include clearfix();

          >li{
            float: left;
            padding: 3px 8px;
            margin:3px 4px;
            border-radius: 4px;
            border: 1px solid transparent;
            &.active{
              border-color: $theme-color-two;
              color: $theme-color-two;
            }
            &.custom-condition{
              display: block;
              width: 100%;
              cursor: default;
              margin: 0;
              margin-bottom: 6px;
              padding: 0;
              text-align: center;
              input,
              button,
              span{
                height: 24px;
                line-height: 24px;
              }
              .input-box{
                display: inline-block;
                >input{
                  text-align: left;
                  border: 1px solid $theme-border-color;
                  color: #666;
                  width: 60px;
                  padding: 0 4px;
                  vertical-align: middle;
                  font-family: $font-family-sans-serif;
                  margin:0 10px;
                }
              }
              .btn-confirm{
                padding: 0 10px;
                background-color: $theme-color-one;
                color: #fff;
                cursor: pointer;
              }
            }
          }
        }
      }

    }
  }
}


//顶部菜单显示
.u-sift-top-box{
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  z-index: $zindex-u-sift-top;
  display: none;
  &.open{
    display: block;
  }
  .sift-box{
    @include wap-sift-box();


  }
}